A4/Prashit-Patel-B00896717-A4-step-function.json
{
  "Comment": "Serverless assignment - Prashit Patel B00896717",
  "StartAt": "Tier Decider Lambda",
  "States": {
    "Tier Decider Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:590309712846:function:serverless-assignment-lambda:$LATEST",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Tier-check"
    },
    "Tier-check": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tier",
          "StringEquals": "tier1",
          "Next": "SQS Tier 1 Queue"
        },
        {
          "Variable": "$.tier",
          "StringEquals": "tier2",
          "Next": "SQS Tier 2 Queue"
        },
        {
          "Variable": "$.tier",
          "StringEquals": "tier3",
          "Next": "SQS Tier 3 Queue"
        }
      ],
      "Default": "SQS Tier Unknown Queue"
    },
    "SQS Tier Unknown Queue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/590309712846/TierUnknown-SQS-Queue",
        "MessageBody": {
          "email.$": "$.email",
          "message.$": "$.message"
        }
      },
      "End": true
    },
    "SQS Tier 1 Queue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/590309712846/Tier1-SQS-Queue",
        "MessageBody": {
          "email.$": "$.email",
          "message.$": "$.message"
        }
      },
      "End": true
    },
    "SQS Tier 2 Queue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/590309712846/Tier2-SQS-Queue",
        "MessageBody": {
          "email.$": "$.email",
          "message.$": "$.message"
        }
      },
      "End": true
    },
    "SQS Tier 3 Queue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/590309712846/Tier3-SQS-Queue",
        "MessageBody": {
          "email.$": "$.email",
          "message.$": "$.message"
        }
      },
      "End": true
    }
  }
}